.content{
    background-color: black;
    height: 100vh;
    margin: 0;
}   

.container{
    max-width: 600px;
    margin: 0 auto;
    display: relative;
}

.header{
    color: white;
    margin:0 auto;
}

.text{
    color: white;
}

.search{
    width: 40%;
    padding-top: 40%;
    width: 40vw;
}

.loginButton{
    margin-top: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-radius: 100%;
    text-transform: uppercase;
}