.resultsContainer{
    position:absolute;
    top: 100%;
    left: 0%;
    
    width: 560px;
    height: 220px;

    overflow-y: scroll;
    overflow-x: none;
    
    border-bottom: none;
    border-top: none;
    z-index: 99;   
    
    -ms-overflow-style: none;
}

.resultsContainer::-webkit-scrollbar{
    display: none;
}
.resultContainer{
    margin: 0;
    padding: 5px 10px;
    background-color: white;
}
.noResult{
    display: none;
}

.trackText{
    margin:0;
}

.resultContainer:hover{
    background-color:rgb(237, 236, 236);
    cursor: pointer;
    text-decoration: underline;
}

@media only screen and (max-width: 600px){
    .resultsContainer{
        width: 90%;
        left: 50%;
        top: -2rem;
        transform: translateX(-50%);
        margin: 0 auto;
        justify-content: center;
    }
}